#aspera_status_message {
  margin-left: 150px;
  margin-top: -25px;
  font-size: 12px;
  font-weight: bold;
}

#button_container {
  margin-top: -10px;
}

#aspera {
  padding: 25px;
  vertical-align: top;
}